<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rickandmortyhomeversion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RickMortyApplication"
        android:allowBackup="true"
        android:icon="@drawable/rick_morty_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rick_morty_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RickAndMortyHomeVersion">
        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>